@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    height: 3479.39px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

/*                       header           */
.header {
    width: 1280px;
    height: 64px;
    background-color: #2B2A2B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    background-color: #c7c7c700;
    width: 213.86px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



.header-logo img {
    width: 100%;
    height: 100%;

}

.frame9 {
    width: 288px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.frame9 img {
    width: 18px;
    height: 18px;

}

.frame9 h3 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}
.frame9 div {
    display: flex;
    flex-direction: row;
}
.h-f-button {
    width: 130px;
    height: 40px;
    border-radius: 4px;
    background-color: #515051;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.carr {
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.carr div {
    width: 24px;
    height: 24px;
    background-color: #515051;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10em;
}
.carr div h3 {
    font-size: 12px;
    color: #FFFFFF;

}

.hero {
    background-color: #ffffff00;
    width: 1280px;
    height: 486px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}
.hero div {
    background-color: rgba(181, 207, 199, 0);
    width: 1200px;
    height: 390px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.hero div div {
    width: 588px;
    height: 232px;
    background-color: rgba(202, 216, 216, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero div img {
    width: 588px;
    height: 390px;
    
}

.hero div div div {
    width: 321px;
    height: 40px;
    background-color: #ebe2e200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 66px 0 -66px;

}

.hero div div div div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 137px;
    height: 40px;
    background-color: #2A5B45 ;
    border-radius: 4px;

}
.hero div div div .comprar svg {
    margin-top: 8px;
}
.hero div div div .comprar {
    width: 168px;
    height: 40px;
    background-color:#1F1815 ;
    border-radius: 4px;
}

.cards {
    background: url(../images/vasodecafe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1280px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cards svg {
    margin: 0 auto;
}
.cards div {
    margin: 0 auto;
    width: 996px;
    height: 232px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.cards div div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 314px;
    height: 230px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #F7F5F3;
}
.cards img {
    margin: 0 auto;
    width: 64px;
    height: 64px;
}


.cards2 {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    width: 1280px;
    height: 603px;
    background-color: #acd4c2;
}
.cards2 svg {
    margin: 0 auto;
}
